.success-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 100;
}

.success-modal__open {
  display: block;
  animation-duration: 500ms;
  animation-name: showmodal;
}

@keyframes showmodal {
  from {
    opacity: 0;
    margin-top: 100%;
  }

  to {
    opacity: 1;
    margin-top: 0%;
  }
}

.success-modal__backdrop {
  background-color: rgba(100, 100, 100, 0.7);
  width: 100vw;
  height: 100vh;
}

.success-modal__window {
  box-shadow: 3px 8px 19px 0px rgba(0, 0, 0, 0.6);
  width: 300px;
  border-radius: 6px;
  position: fixed;
  position: absolute;
  background-color: $white-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.succes-modal__closeBtn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.create-order__title {
  padding-top: 30px;
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 18px;
  color: $style-color;
  ;

}

.create-order__description {
  text-align: left;
  padding-left: 30px;
  margin-bottom: 10px;
}

.create-order__input {
  border: 1px solid $style-color;
  border-radius: 3px;
  height: 30px;
  width: 80%;
  margin-bottom: 20px;
  padding-left: 10px;
}

.create-order__text {
  border: 1px solid $style-color;
  border-radius: 3px;
  height: 120px;
  width: 84%;
  margin-bottom: 20px;
}

.create-order__button {
  padding: 7px 45px;
  border: 1px solid $style-color;
  color: $style-color;
  font-size: 17px;
  font-weight: 600;
  border-radius: 40px;
  outline: none;
  margin-bottom: 30px;
}

@media(min-width: 768px) {
  .success-modal__window {
    width: 400px;
  }

  .create-order__title {
    font-size: 20px;
  }

  .create-order__button {
    font-size: 20px;
  }
}
